body{
    margin: 0em;
    padding: 0em;
height: 100vh;
width: 100vw;
}

.general{
    background-color:#64565a;

    height: 43em;
    width: 90em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.showcase{
background-color: #d8d7af;
height: 40em;
width: 45em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.bichos-top{
  
    height: 10em;
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: .2em;
    border-color: black;
    border-style:ridge;
    border-bottom: none;
}


.bichos-center{
  

    height: 10em;
    width: 30em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border: .2em;
    border-color: black;
    border-style:ridge;
}
.bichos-bottom{
   
    
    height: 10em;
    width: 30em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    border: .2em;
    border-color: black;
    border-style:ridge;
    border-top: none;
}

.bichos{
    background-color:transparent;
    height: 5em;
    width: 5em;
    z-index:2;
   
}

.rana{

    background-color: #d8d7af; 

    height: 40em;
    width: 35em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hoja{
    background-color: rgb(37, 94, 37);
    height: 20em;
    width: 20em;
  
   
    border-radius: 15em;

    position: absolute;
    z-index: 1;
}

.flor{
    height: 6em;
    width: 6em;
    position: absolute;
    z-index: 2;
    bottom: 27em;
    right: 15em;
   
}

.rana-svg{

    border-radius: 10em;

    background-image: url(../svg/rana_cerrada.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 19em;
    width: 19em;
    position:absolute;
    z-index: 3;
}

.rana-svg:hover{
    background-image: url(../svg/rana_abierta.svg);
    transition: .2s ease;
}

.bicho-tarro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  
}

.tarro{
    
    height: 7.5em;
    width: 7.5em;
    position: absolute;
    margin-top: -.5em;
    z-index: 1;

}


